<div class="jumbotron center">
  <h1>Welcome to MyRecipes App</h1>
  <p class="text-muted">Some text about the recipes App</p>
  <p><a class="btn btn-success btn-lg" href="#" role="button" id="sign-up">Sign up now!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
      <h3>View Recipes as Guest User</h3>
      <p>Browse and view recipes as a guest and Sign up later</p>
      <%= link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small' %>
    </div>
    <div class="col-md-4">
      <h3>View Recipes as Guest User</h3>
      <p>Browse and view recipes as a guest and Sign up later</p>
      <%= link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small' %>
    </div>
    <div class="col-md-4">
      <h3>View Recipes as Guest User</h3>
      <p>Browse and view recipes as a guest and Sign up later</p>
      <%= link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small' %>
    </div>
</div>